@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}

nav {
  background-color: rgba(177, 175, 175, 0.1);
}

nav .logo {
  font-weight: 800;
}

nav .logo img {
  width: 70%;
}

.carousel {
  position: relative;
}

.carousel .carousel-indicators {
  margin-bottom: .5rem;
}

.carousel .carousel-indicators .circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0 .5rem;
}

.carousel .carousel-item {
  position: relative;
}

.carousel .carousel-item img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .carousel-item h3 {
  font-weight: 900;
  font-size: 40px;
  padding: 0.5rem;
}

.carousel .carousel-item p {
  font-weight: 900;
}

.carousel .carousel-item .carousel-caption {
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 5px;
  height: 12rem;
}

.carousel .link a {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 16rem;
  text-decoration: none;
  color: #fff;
  background-color: rgba(61, 155, 233, 0.7);
  border-radius: 10px;
  padding: 0.2rem 0;
}

.carousel .link a:nth-child(2) {
  top: 75%;
}

.carousel .link a:nth-child(3) {
  top: 85%;
}

.introduce .pic {
  margin: 3rem 0 0;
  text-align: center;
}

.introduce .pic img {
  width: 50%;
  margin-bottom: 1rem;
}

.introduce .pic h5 {
  font-weight: 900;
  font-size: 30px;
}

.introduce .pic h6 {
  font-weight: 700;
  font-size: 26px;
}

.introduce .pic span {
  display: block;
  font-size: 18px;
  line-height: 2rem;
}

.introduce .txt {
  margin: 3rem 0 0;
  text-align: center;
}

.introduce .txt h5 {
  font-size: 24px;
  font-weight: 900;
}

.introduce .txt h6 {
  font-size: 20px;
}

.introduce .txt p {
  font-size: 17px;
  color: #3d3d3d;
  line-height: 2rem;
  text-align: start;
}

.banner {
  position: relative;
  background-image: url("/pic/banner.webp");
  width: 100%;
  height: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 81, 132, 0.7);
}

.banner h2 {
  color: #fff;
  text-align: center;
  font-weight: 900;
  margin: auto;
  font-size: 20px;
  line-height: 1.6rem;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.month {
  text-align: center;
}

.month .item h4 {
  font-size: 24px;
  font-weight: 900;
  margin: 2rem 0;
}

.month .item .pic img {
  width: 50%;
  height: 13rem;
  margin-bottom: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.month .item .txt h5 {
  font-weight: 900;
  font-size: 24px;
  color: #f50038;
}

.month .item .txt ul {
  margin: 3rem;
}

.month .item .txt ul li {
  text-align: start;
  font-size: 22px;
  line-height: 2rem;
}

.tool {
  text-align: center;
}

.tool img {
  margin: 2rem 0;
  width: 50%;
}

.tool h4 {
  font-size: 22px;
  font-weight: 900;
}

.tool li {
  font-size: 18px;
  text-align: start;
  line-height: 1.8rem;
}

.company {
  text-align: center;
}

.company img {
  margin: 1rem;
}

footer {
  background-color: #eeeeee;
}

footer h5 {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  margin: 1rem 0;
}

footer h6 {
  font-size: 20px;
  line-height: 2rem;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

footer .policy {
  margin: 1.5rem 0;
}

@media screen and (min-width: 992px) {
  nav {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
  nav a {
    color: #fff !important;
  }
  nav .nav-item a {
    font-size: 1rem;
  }
  nav .nav-item a:hover {
    color: #57bbbf !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .carousel {
    -webkit-transform: translateY(-82px);
            transform: translateY(-82px);
  }
  .carousel .carousel-item img {
    height: 100%;
  }
  .carousel .carousel-item h3 {
    background-color: transparent;
  }
  .carousel .carousel-item .carousel-caption {
    position: absolute;
    top: 30%;
    background-color: unset;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    height: unset;
  }
  .carousel .link a {
    top: 75%;
    padding: 1rem 0.5rem;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .carousel .link a:nth-child(2) {
    top: 75%;
    right: 55%;
  }
  .carousel .link a:nth-child(3) {
    top: 75%;
    left: 55%;
  }
  .carousel .link a:hover {
    background-color: rgba(23, 81, 128, 0.7);
  }
  .introduce {
    margin-bottom: 5rem;
  }
  .introduce .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduce .row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .introduce .pic img {
    width: 20%;
  }
  .introduce .pic span {
    text-align: start;
    margin-left: 20%;
  }
  .introduce .txt {
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .month {
    margin-bottom: 1rem;
  }
  .month .item .pic img {
    width: 50%;
  }
  .month .item .txt ul {
    margin: 0rem;
  }
  .month .item .txt ul li {
    text-align: start;
    font-size: 16px;
  }
  .tool .firstPic,
  .tool .secPic {
    height: 8rem;
    line-height: 8rem;
    margin: 1rem 0;
  }
  .tool img {
    margin: 0;
  }
  .company img {
    margin: 3rem;
  }
  footer {
    position: relative;
  }
  footer h5 {
    text-align: start;
  }
  footer #copy {
    position: absolute;
    bottom: 8%;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */
