* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Amaranth', sans-serif;
  color: #565656;
}

body {
  position: relative;
}

nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.active {
  background-color: #b0bec5;
}

nav i {
  font-size: 1.5rem;
}

nav img {
  width: 8rem;
}

nav .offcanvas {
  width: 50vw;
  background: #bdbdbd;
}

nav .offcanvas .offcanvas-body ul {
  padding: 0;
}

nav .offcanvas .offcanvas-body ul li {
  margin: .5rem 0;
}

nav .offcanvas .offcanvas-body ul a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 1rem;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

nav .offcanvas .offcanvas-body ul a:hover {
  background-color: #828282bf;
}

#carousel {
  position: relative;
}

#carousel img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

#carousel #arrow {
  position: absolute;
  bottom: 3%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

#carousel #arrow i {
  font-size: 2rem;
  color: #fff;
}

#carousel .dev {
  position: absolute;
  top: 58%;
  left: 20%;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

#carousel .check {
  position: absolute;
  bottom: 15%;
  right: 5%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}

#carousel .adventure {
  position: absolute;
  top: 15%;
  left: 5%;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

#about {
  padding: 0 1rem;
  padding-top: 5.5rem;
  margin-top: -4.5rem;
  text-align: center;
}

#about h2 {
  font-size: 2.5rem;
}

#about span {
  font-size: 1.4rem;
}

#skill {
  padding-top: 5.5rem;
  margin-top: -4.5rem;
  overflow: hidden;
}

#skill .carousel {
  height: 40vh;
  background-image: url("../pic/skills/city.jpeg");
  background-position: center;
}

#skill h3 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#skill .carousel-item {
  padding: 0 4rem;
  margin: auto;
  height: 40vh;
}

#skill .carousel-item .item {
  padding: 0;
  text-align: center;
}

#skill .carousel-item .item img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.775);
  border-radius: 8px;
}

#project {
  text-align: center;
  padding: 0 1rem;
  padding-top: 5.5rem;
  margin-top: -4.5rem;
}

#project h2 {
  font-size: 2.5rem;
}

#project h3 {
  font-size: 1.3rem;
}

#project .main-project img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 40vh;
}

#project .category {
  text-align: start;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

#project ul li {
  font-size: 1.2rem;
  list-style: disc;
  margin: .5rem 0;
}

#project .swiper {
  width: 100%;
  height: 100%;
}

#project .swiper .swiper-slide {
  text-decoration: none;
  text-align: center;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project .swiper .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 45vh;
}

#project .swiper .swiper-button-prev,
#project .swiper .swiper-button-next {
  color: #474545;
}

#info {
  height: 40vh;
  text-align: center;
  padding: 0 1rem;
  background-image: url("https://images.pexels.com/photos/409127/pexels-photo-409127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  padding-top: 6.5rem;
  margin-top: 2.5rem;
}

#info h2 {
  font-size: 2.5rem;
  color: #fff;
}

#info a {
  width: 50vw;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #000000;
  font-size: 1.5rem;
  padding: .2rem 1.5rem;
  margin: 1rem 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#info a:hover {
  background-color: #cecdcd;
}

#info a i {
  color: #000;
  margin-right: 1rem;
}

#email {
  padding: 0 1rem;
  text-align: center;
  padding-top: 5.5rem;
  margin-top: -4.5rem;
}

#email h2 {
  font-size: 2.5rem;
}

#email textarea {
  height: 20vh;
}

footer {
  height: 8vh;
  background-color: #949494;
  text-align: center;
  line-height: 8vh;
}

footer .copyright {
  color: white;
}

@media screen and (min-width: 768px) {
  nav .offcanvas {
    width: 20vw;
  }
  #skill .carousel {
    height: 44vh;
  }
  #skill .carousel-item .item img {
    width: 5rem;
    height: 5rem;
  }
  #email {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  #project {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #project .airbnb h3,
  #project .mask h3,
  #project .calendar h3 {
    text-align: start;
  }
  #project h3 {
    font-size: 2rem;
  }
  #project .main-project img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
  }
  #project .swiper .swiper-slide img {
    height: 55vh;
    -o-object-fit: fill;
       object-fit: fill;
  }
  #project .carve img {
    height: 80vh !important;
  }
  #carousel .dev {
    top: 30%;
    left: 5%;
  }
  #carousel .check {
    top: 45%;
    left: 20%;
  }
  #carousel .adventure {
    top: 15%;
    left: 5%;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */