@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

.main-nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.95);
  position: fixed;
  z-index: 10;
}

.main-nav .icon {
  position: relative;
}

.main-nav .icon a img {
  width: 70%;
  vertical-align: middle;
}

.main-nav .icon a img:last-child {
  position: absolute;
  left: 0;
  opacity: 0;
}

.main-nav nav a {
  text-decoration: none;
  color: #000;
  margin: 0px 50px;
  font-weight: 700;
  position: relative;
}

.main-nav nav a:first-child:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.main-nav .language a {
  text-decoration: none;
  color: #000;
}

.main-nav .language a:focus + ul {
  display: block;
}

.main-nav .language ul {
  width: 60px;
  top: 50px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  display: none;
}

.main-nav .language ul li {
  text-align: center;
  padding: 5px;
}

.main-nav .language ul li:nth-child(4) {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .main-nav {
    width: 100%;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-nav .icon a img:first-child {
    opacity: 0;
  }
  .main-nav .icon a img:last-child {
    opacity: 100;
  }
  .main-nav nav {
    display: none;
  }
  .main-nav .language a {
    color: #fff;
  }
}

.banner {
  width: 100%;
}

.banner .pic {
  height: 720px;
  overflow: hidden;
  position: relative;
}

.banner .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  -webkit-animation: big 5s ease-in-out infinite alternate;
          animation: big 5s ease-in-out infinite alternate;
}

.banner .txt {
  position: absolute;
  left: 15%;
  top: 30%;
  color: #fff;
}

.banner .txt h2 {
  font-size: 120px;
  font-weight: 900;
}

.banner .txt p {
  font-size: 40px;
  padding: 20px 0px 60px;
}

.banner .txt i {
  font-size: 24px;
}

.banner .pic::after {
  content: "scroll";
  position: absolute;
  color: #fff;
  bottom: 12%;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  -webkit-animation: updown 0.5s linear infinite alternate;
          animation: updown 0.5s linear infinite alternate;
}

.banner .pic::before {
  content: "";
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: auto;
  width: 2px;
  height: 50px;
  background-color: white;
  z-index: 1;
  -webkit-animation: sky 1s linear infinite backwards;
          animation: sky 1s linear infinite backwards;
}

.banner .download {
  position: absolute;
  top: 0;
  left: 15%;
  top: 70%;
  color: #fff;
}

.banner .download i {
  width: 25px;
  height: 25px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  position: relative;
}

.banner .download i::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #4ec562;
  background-image: url("download-solid.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.banner .download i:hover::after {
  display: block;
  cursor: pointer;
}

.banner .highlight {
  text-align: center;
  margin: 55px;
}

.banner .highlight h2 {
  font-size: 60px;
  font-weight: 900;
}

.banner .highlight p {
  margin: 20px 0px 100px;
  font-weight: 600;
}

.hidden-nav {
  opacity: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(212, 212, 212, 0.95);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
}

.hidden-nav a {
  text-decoration: none;
  color: #000;
  margin: 0px 20px;
  font-weight: 700;
  position: relative;
}

.hidden-nav a:first-child:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #000;
}

@-webkit-keyframes big {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes big {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes updown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes updown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes sky {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

@keyframes sky {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

@media screen and (max-width: 768px) {
  .banner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .banner .pic {
    height: 520px;
  }
  .banner .pic img {
    width: 100%;
  }
  .banner .txt {
    left: 5%;
    top: 40%;
  }
  .banner .txt h2 {
    font-size: 60px;
  }
  .banner .txt p {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .banner .txt i {
    border: 1px solid #fff;
    padding: 10px 60px 10px 10px;
    border-radius: 5px;
  }
  .banner .pic::after,
  .banner .pic::before,
  .banner .download,
  .banner .highlight {
    display: none;
  }
  .hidden-nav {
    opacity: 100;
  }
}

.wrap {
  width: 1200px;
  margin: auto;
  position: relative;
}

.wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 100px 0px;
  position: relative;
}

.wrap .item .txt {
  width: 50%;
  padding: 0px 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .item .txt > i {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  font-size: 34px;
}

.wrap .item .txt h3 {
  margin: 20px 0px;
  font-size: 40px;
  font-weight: 700;
}

.wrap .item .txt h5 {
  font-size: 24px;
  font-weight: 700;
  color: #0c914f;
}

.wrap .item .txt p {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0px 50px;
  line-height: 1.5em;
}

.wrap .item .txt a i:hover {
  background-color: #4ec562;
  color: #fff;
}

.wrap .item .txt a i {
  display: inline-block;
  color: #000;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  margin-right: 10px;
}

.wrap .item .pic {
  width: 50%;
  position: relative;
}

.wrap .item .pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.wrap .item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wrap .item .txt::after {
  content: "";
  position: absolute;
  top: -5px;
  left: calc(50% - 2.5px);
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.wrap .item:last-child .txt::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -5px;
  z-index: 2;
  width: 3px;
  height: 3px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: 0px 0px 0px 7px white, 0px 0px 0px 8px black;
          box-shadow: 0px 0px 0px 7px white, 0px 0px 0px 8px black;
}

.wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-right: 1px dotted black;
}

@media screen and (max-width: 768px) {
  .wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0 15px;
  }
  .wrap .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px 0;
  }
  .wrap .item .txt {
    width: 100%;
  }
  .wrap .item .pic {
    width: 100%;
    position: relative;
  }
  .wrap .item .pic img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: middle;
  }
  .wrap .item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .wrap .item .txt::after,
  .wrap .item:last-child .txt::before {
    display: none;
  }
  .wrap .item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrap::after {
    top: 105px;
    left: 11%;
    z-index: -1;
    display: none;
  }
}

.com {
  padding: 100px;
  background-color: #dde3ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.com .txt {
  text-align: center;
}

.com .txt h2 {
  font-size: 60px;
  font-weight: 900;
  margin-top: 100px;
}

.com .txt p {
  margin: 30px 0px;
  font-size: 24px;
  font-weight: 600;
}

.com .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.com .container .item {
  width: 360px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.com .container .item h5 {
  font-size: 24px;
  font-weight: 900;
  margin: 20px 0px;
}

.com .container .item p {
  line-height: 2em;
}

.com .container .item .pic img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .com {
    width: 100%;
    padding: 20px 10px;
  }
  .com .txt h2 {
    font-size: 40px;
    margin-top: 0px;
  }
  .com .txt p {
    font-size: 20px;
  }
  .com .container {
    width: 100%;
  }
  .com .container .item {
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .com .container .item h5 {
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0px;
  }
  .com .container .item p {
    line-height: 2em;
  }
  .com .container .item .pic img {
    width: 100%;
  }
}

.second-banner {
  text-decoration: none;
}

.second-banner .txt {
  color: #fff;
  height: 320px;
  background-image: url("banner2.png");
  text-align: center;
  line-height: 320px;
  font-size: 60px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .second-banner .txt {
    height: 160px;
    line-height: 160px;
    font-size: 40px;
  }
}

.service {
  background-color: #dde3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service h2 {
  text-align: center;
  width: 100%;
  padding: 100px 0px 50px;
  font-size: 60px;
  font-weight: 900;
}

.service .wrap {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .wrap .list {
  width: 300px;
}

.service .wrap .list li span {
  display: inline-block;
  margin: 20px 0px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 50px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .wrap .list li span:hover {
  background-color: #4ec562;
  color: #fff;
  cursor: default;
}

.service .wrap .box {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service .wrap .box .item2 {
  position: relative;
  width: 280px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 3px #b6a7a7;
          box-shadow: 3px 5px 3px #b6a7a7;
}

.service .wrap .box .item2 i {
  font-size: 60px;
}

.service .wrap .box .item2 h5 {
  font-size: 24px;
  margin: 20px 0px;
  font-weight: 900;
}

.service .wrap .box .item2 p {
  line-height: 2em;
}

.service .wrap .box .item2 span {
  display: inline-block;
  font-size: 36px;
  margin: 70px 0px 0px 0px;
}

.service .wrap .box .item2 .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .wrap .box .item2 .cover a {
  display: block;
  position: absolute;
  top: 50%;
  left: 15%;
}

.service .wrap .box .item2 .cover a i {
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .wrap .box .item2:hover .cover {
  opacity: 100;
}

.service .wrap .box .item2:hover .cover a:hover i {
  background-color: #0c914f;
}

@media screen and (max-width: 768px) {
  .service {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .service .wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .wrap .list {
    width: 100%;
  }
  .service .wrap .list ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service .wrap .list li span {
    margin: 0px 5px;
  }
  .service .wrap .box {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  width: 1200px;
  height: 150px;
  margin: auto;
}

footer .link ol {
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .link i {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px;
}

footer .link li {
  margin-right: 30px;
}

footer .link a {
  text-decoration: none;
  color: #000;
}

footer .copyright ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright li {
  padding-right: 30px;
}

footer .copyright a {
  line-height: 75px;
  text-decoration: none;
  color: #000;
}

footer li {
  position: relative;
}

footer .link li + li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  margin: auto;
  border-right: 1px solid #000;
  height: 20%;
}

footer .copyright li + li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  margin: auto;
  border-right: 1px solid #000;
  height: 20%;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .copyright ol {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .copyright ol li {
    padding: 0px 1px;
  }
  footer .copyright ol a {
    line-height: 75px;
    text-decoration: none;
    color: #000;
  }
  footer .copyright li {
    padding-right: 0px;
  }
  footer .link,
  footer li + li::after,
  footer li + li::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */