* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}

.selectPart {
  cursor: default;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectPart .logo {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.selectPart .logo img {
  vertical-align: middle;
  width: 3rem;
}

.selectPart .logo h4 {
  margin: 0 1rem;
  line-height: 4rem;
}

.selectPart #year-month {
  margin: auto;
}

.selectPart .button-move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  width: 20rem;
}

.selectPart .button-move button {
  margin: 0 0.2rem;
}

.selectPart .button-move #todayBtn {
  font-weight: 900;
  width: 5rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main table {
  width: 100%;
  height: 91vh;
}

.main table thead {
  height: 2rem;
  text-align: center;
}

.main table tbody tr td {
  cursor: default;
  padding: 0.3rem;
  vertical-align: top;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.main table tbody tr td::-webkit-scrollbar {
  width: 0.3em;
}

.main table tbody tr td::-webkit-scrollbar-thumb {
  background-color: #bbc4cc;
  border-radius: 1rem;
}

.main table tbody tr td .showAll {
  display: inline-block;
  width: 1.5rem;
  cursor: pointer;
  background-color: rgba(238, 238, 231, 0.575);
  border-radius: 50%;
}

.main table tbody tr td .showAll:hover {
  background-color: #dfdfd7;
}

.main table tbody tr td ul {
  width: 12.5rem;
  height: 5rem;
  margin-right: -12.5rem;
  margin-bottom: -5rem;
}

.main table tbody tr td ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2rem 0;
  padding: 0.1rem;
  padding-left: 1rem;
  text-align: left;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.main table tbody tr td ul li:hover {
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main table tbody tr td ul li span {
  margin-right: 1rem;
  pointer-events: none;
}

.main .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .side-nav .slide button {
  width: 100%;
  margin: 0.7rem 0;
}

.main .side-nav .slide button:hover img {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.main .side-nav .slide button img {
  width: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main .side-nav .closeBtn {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.3rem !important;
  border-radius: 50%;
}

.main .side-nav .closeBtn:hover {
  background-color: #e6e6e6;
}

.main .side-nav .google-map {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

.main .side-nav .schedule {
  height: 48vh;
  overflow-y: auto;
  display: none;
}

.main .side-nav .schedule::-webkit-scrollbar {
  width: 0.3em;
}

.main .side-nav .schedule::-webkit-scrollbar-thumb {
  background-color: #bbc4cc;
  border-radius: 1rem;
}

.main .side-nav .schedule ul {
  width: 18rem;
  margin-left: 1rem;
  margin-right: .5rem;
  border-radius: 10px;
}

.main .side-nav .schedule ul li {
  margin: .3rem;
}

.microphone {
  background-color: #ececec;
  padding: .7rem .8rem;
  border-radius: 50%;
  cursor: pointer;
}

.microphone:hover {
  background-color: lightgray;
}

.toggle-left {
  -webkit-animation: slideLeft 0.5s;
          animation: slideLeft 0.5s;
}

.toggle-right {
  -webkit-animation: slideRight 0.5s;
          animation: slideRight 0.5s;
}

.slide.slide-open {
  display: none !important;
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style_google.css.map */