* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}

.selectPart {
  cursor: default;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 20rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    img {
      vertical-align: middle;
      width: 3rem;
    }
    h4 {
      margin: 0 1rem;
      line-height: 4rem;
    }
  }
  #year-month {
    // margin-left: -10rem;
    margin: auto;
  }
  .button-move {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    width: 20rem;
    button {
      margin: 0 0.2rem;
    }
    #todayBtn {
      font-weight: 900;
      width: 5rem;
    }
  }
}

.main {
  display: flex;
  table {
    width: 100%;
    height: 91vh;
    thead {
      height: 2rem;
      text-align: center;
    }
    tbody {
      tr {
        td {
          cursor: default;
          padding: 0.3rem;
          vertical-align: top;
          text-align: center;
          overflow-x: hidden;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 0.3em;
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgb(187, 196, 204);
            border-radius: 1rem;
          }
          .showAll {
            display: inline-block;
            width: 1.5rem;
            cursor: pointer;
            background-color: rgba(238, 238, 231, 0.575);
            border-radius: 50%;
            &:hover{
                background-color: rgb(223, 223, 215);
            }
          }
          ul {
            width: 12.5rem;
            height: 5rem;
            margin-right: -12.5rem;
            margin-bottom: -5rem;
            li {
              display: flex;
              justify-content: space-between;
              margin: 0.2rem 0;
              padding: 0.1rem;
              padding-left: 1rem;
              text-align: left;
              color: #fff;
              border-radius: 0.3rem;
              cursor: pointer;
              &:hover {
                color: rgb(0, 0, 0);
                transform: scale(1.05);
              }
              span {
                margin-right: 1rem;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
  .side-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 3rem;
    transition: 0.5s;
    .slide {
      button {
        width: 100%;
        margin: 0.7rem 0;
        &:hover img {
          transition: 0.1s;
          transform: scale(1.8);
        }
        img {
          width: 100%;
          transform: scale(1.5);
        }
      }
    }
    .closeBtn {
      display: none;
      cursor: pointer;
      padding: 0.5rem;
      margin: 0.3rem !important;
      border-radius: 50%;
      &:hover{
          background-color: rgb(230, 230, 230);
      }   
    }
    .google-map{
        align-self: center;
        display: none;
    }
    .schedule {
      height: 48vh;
      overflow-y: auto;
      display: none;
      &::-webkit-scrollbar {
        width: 0.3em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(187, 196, 204);
        border-radius: 1rem;
      }
      ul {
        width: 18rem;
        margin-left: 1rem;
        margin-right: .5rem;
        border-radius: 10px;
        li {
          margin: .3rem;
        }
      }
    }
  }
}

.microphone{
    background-color: rgb(236, 236, 236);
    padding: .7rem .8rem ;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        background-color: rgb(211, 211, 211);
    }
}

.toggle-left {
  animation: slideLeft 0.5s;
}

.toggle-right {
  animation: slideRight 0.5s;
}

.slide.slide-open {
  display: none !important;
}

@keyframes slideLeft {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0);
  }
}
