.input-group {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  align-items: center;
  h5 {
    margin: 0 0.5rem;
  }
  input {
    font-size: 1rem;
    padding: .3rem 0;
  }
}
section {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  div{
    border-bottom:2px solid rgb(255, 255, 255) ;
  }
}
textarea {
  width: 90%;
  height: 20rem;
  border: 2px solid #000;
}
@media screen and (min-width:768px){
  textarea {
    width: 50%;
  }
}