* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Amaranth', sans-serif;
    color: rgb(86, 86, 86);
}

body{
    position: relative;
}

nav{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    transition: .3s;
    &.active{
        background-color: #d6d6d6;
    }
    i{
        font-size: 1.5rem;
    }
    img{
        width: 8rem;
    }
    .offcanvas{
        width: 30vh;
        background: #bdbdbd;
        .offcanvas-body{
            ul{
                padding: 0;
                li{
                    margin: .5rem 0;
                }
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: #000;
                    padding: 1rem;
                    width: 100%;
                    transition: .2s;
                    &:hover{
                        background-color: #828282bf;
                    }
                }
            }
        }
    }
}

#carousel{
    position: relative;
    img{
        width: 100%;
        object-fit: cover;
        height: 100vh;
    }
    #arrow {
        position: absolute;
        bottom: 3%;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        transform: translateX(-50%);
        color: rgba(0, 0, 0, 0.762);
        display: flex;
        justify-content: center;
        text-decoration: none;
        i{
            font-size: 2rem;
        }
    }
}

#about{
    padding: 0 1rem;
    padding-top: 5.5rem;
    margin-top: -4.5rem;
    text-align: center;
    h2{
        font-size: 2.5rem;
    }
}

#skill{
    padding-top: 5.5rem;
    margin-top: -4.5rem;
    .carousel{
        height: 40vh;
        background-image: url("/pic/skills/city.jpeg");
        background-position: center;
    }
    h3{
        text-align: center;
        color: #fff;
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    .carousel-item{
        padding: 0 4rem;
        margin: auto;
        height: 40vh;
        .item{
            padding: 0;
            text-align: center;
            
            img{
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                background-color: rgba(255, 255, 255, 0.775);
                border-radius: 8px;
            }
        }
    }
}

#project{
    text-align: center;
    padding: 0 1rem;
    padding-top: 5.5rem;
    margin-top: -4.5rem;
    h2{
        font-size: 2.5rem;
    }
    #airbnb{
        height: 40vh;
        background-image: url("https://images.pexels.com/photos/409127/pexels-photo-409127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-position: center;
        border-radius: 8px;
        box-shadow: 5px 5px 10px #7d7d7d;
    }
}

#info{
    height: 40vh;
    text-align: center;
    padding: 0 1rem;
    background-image: url("https://images.pexels.com/photos/409127/pexels-photo-409127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    padding-top: 6.5rem;
    margin-top: 2.5rem;
    h2{
        font-size: 2.5rem;
        color: #fff;
    }
    a{
        width: 50vw;
        display: inline-block;
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        color: #000000;
        font-size: 1.5rem;
        padding: .2rem 1.5rem;
        margin: 1rem 0;
        i{
            color: #000;
            margin-right: 1rem;
        }
    }
}

#email{
    padding: 0 1rem;
    text-align: center;
    padding-top: 5.5rem;
    margin-top: -4.5rem;
    h2{
        font-size: 2.5rem;
    }
    textarea{
        height: 20vh;
    }
}