* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#d6d3d4), color-stop(70%, rgba(125, 120, 122, 0)));
  background: linear-gradient(90deg, #d6d3d4 0%, rgba(125, 120, 122, 0) 70%);
}

.animation {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #ff1a66 0%, rgba(255, 26, 102, 0) 70%), linear-gradient(135deg, #0643f9 10%, rgba(6, 67, 249, 0) 80%), linear-gradient(225deg, #0df259 10%, rgba(13, 242, 89, 0) 80%), linear-gradient(315deg, #f99e1f 100%, rgba(249, 158, 31, 0) 70%);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: 2s;
  transition: 2s;
}

#first {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 399px;
  stroke-dashoffset: 399px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.3s;
          animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 577px;
  stroke-dashoffset: 577px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 452px;
  stroke-dashoffset: 452px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.9s;
          animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.2s;
          animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 499px;
  stroke-dashoffset: 499px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.5s;
          animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 545px;
  stroke-dashoffset: 545px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.8s;
          animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 394px;
  stroke-dashoffset: 394px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.1s;
          animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 452px;
  stroke-dashoffset: 452px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.4s;
          animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 396px;
  stroke-dashoffset: 396px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.7s;
          animation: fadeInside 0.6s ease-in forwards 2.7s;
}

#eleventh {
  stroke-dasharray: 570px;
  stroke-dashoffset: 570px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 3s;
          animation: fadeInside 0.6s ease-in forwards 3s;
}

#twelfth {
  stroke-dasharray: 1179px;
  stroke-dashoffset: 1179px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#thirteenth {
  stroke-dasharray: 1355px;
  stroke-dashoffset: 1355px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.5s;
          animation: fadeInside 0.6s ease-in forwards 0.5s;
}

#fourteenth {
  stroke-dasharray: 1074px;
  stroke-dashoffset: 1074px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1s;
          animation: fadeInside 0.6s ease-in forwards 1s;
}

#fifteenth {
  stroke-dasharray: 1579px;
  stroke-dashoffset: 1579px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.5s;
          animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#sixteenth {
  stroke-dasharray: 670px;
  stroke-dashoffset: 670px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2s;
          animation: fadeInside 0.6s ease-in forwards 2s;
}

#seventeenth {
  stroke-dasharray: 1458px;
  stroke-dashoffset: 1458px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.5s;
          animation: fadeInside 0.6s ease-in forwards 2.5s;
}

#eighteenth {
  stroke-dasharray: 1395px;
  stroke-dashoffset: 1395px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 3s;
          animation: fadeInside 0.6s ease-in forwards 3s;
}

svg {
  vertical-align: bottom;
  -webkit-animation: fill 1s ease-in forwards 3s;
          animation: fill 1s ease-in forwards 3s;
}

@-webkit-keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}
/*# sourceMappingURL=style.css.map */