*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background:
    linear-gradient(90deg, rgb(214, 211, 212) 0%, hsla(330, 2%, 48%, 0) 70%);
}

.animation{
    width: 100%;
    height: 100vh;
    background:
      linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
      linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
      linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
      linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
    transition: 2s ;
}

#first{
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: fadeInside 0.6s ease-in forwards;
}

#second{
    stroke-dasharray: 399px;
    stroke-dashoffset: 399px;
    animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third{
    stroke-dasharray: 577px;
    stroke-dashoffset: 577px;
    animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth{
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth{
    stroke-dasharray: 233px;
    stroke-dashoffset: 233px;
    animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth{
    stroke-dasharray: 499px;
    stroke-dashoffset: 499px;
    animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh{
    stroke-dasharray: 545px;
    stroke-dashoffset: 545px;
    animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth{
    stroke-dasharray: 394px;
    stroke-dashoffset: 394px;
    animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth{
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth{
    stroke-dasharray: 396px;
    stroke-dashoffset: 396px;
    animation: fadeInside 0.6s ease-in forwards 2.7s;
}

#eleventh{
    stroke-dasharray: 570px;
    stroke-dashoffset: 570px;
    animation: fadeInside 0.6s ease-in forwards 3s;
}

#twelfth{
    stroke-dasharray: 1179px;
    stroke-dashoffset: 1179px;
    animation: fadeInside 0.6s ease-in forwards;
}

#thirteenth{
    stroke-dasharray: 1355px;
    stroke-dashoffset: 1355px;
    animation: fadeInside 0.6s ease-in forwards 0.5s;
}

#fourteenth{
    stroke-dasharray: 1074px;
    stroke-dashoffset: 1074px;
    animation: fadeInside 0.6s ease-in forwards 1s;
}

#fifteenth{
    stroke-dasharray: 1579px;
    stroke-dashoffset: 1579px;
    animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#sixteenth{
    stroke-dasharray: 670px;
    stroke-dashoffset: 670px;
    animation: fadeInside 0.6s ease-in forwards 2s;
}

#seventeenth{
    stroke-dasharray: 1458px;
    stroke-dashoffset: 1458px;
    animation: fadeInside 0.6s ease-in forwards 2.5s;
}

#eighteenth{
    stroke-dasharray: 1395px;
    stroke-dashoffset: 1395px;
    animation: fadeInside 0.6s ease-in forwards 3s;
}

svg{
    vertical-align: bottom;
    animation: fill 1s ease-in forwards 3s;
}

.lucky-area{
    position: relative;
    .right,
    .left{
        position: absolute;
        width: 50%;
        height: 400%;
        border: 2px solid #000;
        left: 0;
        top: 0;
        overflow: hidden;
        display: flex;
    }
    .right{
        left: unset;
        right: 0;
    }
}

@keyframes fadeInside{
    to{
        stroke-dashoffset: 0px
    }
}

@keyframes fill{
    from{
        fill: transparent
    }
    to{
        fill: #fff;
    }
}

@keyframes slideDown{
    from{
        transform: translateY(-250px);
    }
    to{
        transform: translateY(350px);
    }
}

@keyframes slideUp{
    from{
        transform: translateY(350px);
    }
    to{
        transform: translateY(-250px);
    }
}